* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

section {
  padding: 25px 0;
}

.form {
  margin: 50px auto;
  padding: 50px 25px;
  width: 70%;
}
.form h3 {
  margin-bottom: 20px;
}
.form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.form form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #000;
  background-color: inherit;
}
.form form input:focus {
  outline: none;
  border-bottom: 1px solid #3498db;
}
.form form .forget-password-link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}
.form form .forget-password-link:hover {
  color: blue;
}
.form form button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  border: 1px solid #3498db;
  background-color: #3498db;
  color: #fff;
}
.form form button:hover {
  opacity: 0.8;
}

nav {
  background-color: #f6f6f6;
  padding: 20px 0;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .container .left .shop-now {
  margin-left: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 14px;
}
nav .container .left .shop-now:hover {
  opacity: 0.7;
}
nav .container .nav-search {
  width: 40%;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  border: 1px solid black;
  transition: 0.2s;
  font-size: 14px;
}
nav .container .nav-search:focus {
  border: 1px solid #3498db;
}
nav .container .nav-btns {
  display: flex;
  gap: 20px;
}
nav .container .nav-btns .nav-btn {
  display: flex;
  align-items: center;
  position: relative;
}
nav .container .nav-btns .nav-btn span {
  background-color: #3498db;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}
nav .container .nav-btns .nav-btn:hover {
  color: blue;
}
nav .container .nav-btns.nav-btns-sm {
  display: none;
}
nav .container svg {
  font-size: 20px;
}
@media (max-width: 768px) {
  nav .container .nav-btns {
    display: none;
  }
  nav .container .nav-btns.nav-btns-sm {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 10px;
  }
  nav .container .nav-btns.nav-btns-sm .nav-search {
    border: 1px solid red;
  }
}
.nopage {
  text-align: center;
  margin: 50px auto;
}
.nopage a {
  margin: 0 auto;
  color: #3498db;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #3498db;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  position: relative;
  align-self: self-start;
  width: calc(25% - 20px);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
@media (max-width: 992px) {
  .item {
    width: calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 768px) {
  .item {
    width: calc(50% - 10px);
  }
}
.item:hover {
  box-shadow: rgba(23, 8, 182, 0.1) 0px 4px 12px;
}
.item .item-img-container {
  position: relative;
  overflow: hidden;
}
.item .item-img-container .item-img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
  transition: 0.2s;
}
.item .item-img-container .item-img:hover ~ .item-view-btn {
  bottom: 5px;
}
.item .item-img-container .item-view-btn {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  background-color: #3498db;
  color: white;
  padding: 3px 12px;
  border-radius: 25px;
  bottom: -50px;
  transition: 0.3s;
}
.item .item-img-container .item-view-btn:hover {
  bottom: 5px;
  opacity: 0.9;
}
.item .item-info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
}
.item .item-info .item-name {
  font-size: 14px;
  margin: 0;
  flex: 1;
}
.item .item-info .item-wish-icon {
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}
.item .item-info .item-wish-icon:hover {
  color: #3498db;
}
.item .item-info .item-price {
  font-size: 14px;
  width: 100%;
}

.categories-slider h2 {
  margin-bottom: 30px;
}
.categories-slider .category {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.categories-slider .category .category-img {
  height: 130px;
  width: 130px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .categories-slider .category .category-img {
    height: 120px;
    width: 120px;
  }
}
@media (max-width: 992px) {
  .categories-slider .category .category-img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 768px) {
  .categories-slider .category .category-img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 576px) {
  .categories-slider .category .category-img {
    height: 100px;
    width: 100px;
  }
}
.categories-slider .category .category-name {
  text-align: center;
  transition: 0.2s;
}
.categories-slider .category .category-name:hover {
  color: #3498db;
}

.single-product {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.single-product .product-slider {
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .single-product .product-slider {
    width: 100%;
  }
}
.single-product .product-info {
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .single-product .product-info {
    width: 100%;
  }
}
.single-product .product-info .product-title {
  margin-bottom: 5px;
}
.single-product .product-info .product-brand {
  margin-bottom: 10px;
}
.single-product .product-info .product-rate {
  width: -moz-fit-content;
  width: fit-content;
  color: gold;
}
.single-product .product-info .product-rate span {
  margin-left: 10px;
  color: #000;
  font-size: 14px;
}
.single-product .product-info .product-price {
  font-size: 24px;
  margin: 20px 0;
}
.single-product .product-info .product-desc {
  line-height: 1.5;
  margin-bottom: 20px;
}
.single-product .product-info .add-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 992px) {
  .single-product .product-info .add-section {
    justify-content: space-between;
  }
}
.single-product .product-info .add-section .quantity {
  display: flex;
  align-items: center;
}
.single-product .product-info .add-section .quantity span {
  margin-right: 20px;
}
.single-product .product-info .add-section .quantity .circle {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 25px;
}
.single-product .product-info .add-section .quantity .circle .num {
  margin: 0 15px;
  font-size: 18px;
}
.single-product .product-info .add-section .quantity .circle .plus {
  cursor: pointer;
  padding: 10px 20px;
}
.single-product .product-info .add-section .quantity .circle .plus:hover {
  color: #3498db;
}
.single-product .product-info .add-section .quantity .circle .minus {
  cursor: pointer;
  padding: 10px 20px;
}
.single-product .product-info .add-section .quantity .circle .minus:hover {
  color: #3498db;
}
.single-product .product-info .add-section .add-to-cart {
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
}
.single-product .product-info .add-section .add-to-cart:hover {
  opacity: 0.7;
}
.single-product .product-info .add-section .item-wish-icon {
  font-size: 30px;
  color: #3498db;
  cursor: pointer;
}

.best-sellers {
  padding-bottom: 100px;
}
.best-sellers h2 {
  margin-bottom: 30px;
}
.best-sellers .item {
  box-shadow: none;
}
.best-sellers .item:hover {
  box-shadow: rgba(23, 8, 182, 0.1) 0px 4px 12px;
}

.main-slider {
  padding-top: 0;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}

.cart {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cart .items {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #d0d3d4;
  width: calc(60% - 20px);
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .cart .items {
    width: 100%;
  }
}
.cart .items .row {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.cart .items .row.cart-header {
  background-color: #f6f6f6;
  padding: 20px 10px;
}
.cart .items .row .cart-details {
  width: 50%;
}
@media (max-width: 768px) {
  .cart .items .row .cart-details {
    width: 30%;
  }
}
.cart .items .row .cart-price {
  width: 12.5%;
  text-align: center;
}
@media (max-width: 768px) {
  .cart .items .row .cart-price {
    width: 17.5%;
  }
}
.cart .items .row .cart-quantity {
  width: 12.5%;
  text-align: center;
}
@media (max-width: 768px) {
  .cart .items .row .cart-quantity {
    width: 17.5%;
  }
}
.cart .items .row .cart-total {
  width: 12.5%;
  text-align: center;
}
@media (max-width: 768px) {
  .cart .items .row .cart-total {
    width: 17.5%;
  }
}
.cart .items .row .cart-remove {
  width: 12.5%;
  text-align: center;
}
@media (max-width: 768px) {
  .cart .items .row .cart-remove {
    width: 17.5%;
  }
}
.cart .items .row.cart-item .cart-details {
  width: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .cart .items .row.cart-item .cart-details {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .cart .items .row.cart-item .cart-details .item-name {
    display: none;
  }
}
.cart .items .row.cart-item .cart-details .item-img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.cart .items .row.cart-item .item-quantity input {
  width: 50px;
  height: 40px;
  text-align: center;
}
.cart .items .row.cart-item .item-remove {
  cursor: pointer;
  font-size: 20px;
}
.cart .items .row.cart-item .item-remove:hover {
  color: red;
}
.cart .checkout {
  align-self: baseline;
  border: 1px solid #d0d3d4;
  padding: 20px;
  width: 40%;
}
@media (max-width: 992px) {
  .cart .checkout {
    width: 100%;
  }
}
.cart .checkout h3 {
  margin-bottom: 20px;
}
.cart .checkout .checkout-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart .checkout .checkout-wrapper .line {
  display: flex;
}
.cart .checkout .checkout-wrapper .line.shipping span {
  font-size: 14px;
}
.cart .checkout .checkout-wrapper .line.total span {
  font-weight: bold;
}
.cart .checkout .checkout-wrapper .line p {
  width: 25%;
}
.cart .checkout .checkout-wrapper .line span {
  width: 75%;
}
.cart .checkout .checkout-wrapper .checkout-btn {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
}
.cart .checkout .checkout-wrapper .checkout-btn:hover {
  opacity: 0.7;
}

.alert-error {
  font-size: 12px;
  background-color: #b22203;
  padding: 4px 6px;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  margin-top: -15px;
}

.Toastify__toast-body {
  font-size: 12px;
}/*# sourceMappingURL=Style.css.map */